.venv/
.venv311/
.vscode/
tmp/
env/
manuscript/
test_*/
lightning_logs/


.prototype/
.python-version
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
fig5*.csv
updating_hf.ipynb

*.tar.gz
tmp/
old_work/
training_old/